@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600&display=swap');


:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --border: 2rem solid rgba(0, 0, 0, 0.1);
    --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
    --outline-hover: 0.2rem solid rgba(0, 0, 0, 0.1);
  }
  
  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
  }


  .btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
  }

  .btn:hover{
    background-color: var(--orange);
    color: #fff;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
  }
  
  .header .navbar a {
    font-size: 1.9rem;
    margin: 0 1rem;
    color: var(--black);
  }
  
  .header .navbar a:hover {
    color: var(--orange);
  }
  
  .header .icons button {
    height: 4.5rem;
    width: 5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background: #eee;
    color: var(--black);
    font-size: 2.8rem;
    margin-right: 0.3rem;
    text-align: center;
    cursor: pointer;
  }
  
  .header .icons button:hover {
    background: var(--orange);
  }
  
  .search-form {
    position: absolute;
    top: 100px;
    right: 0;
    max-width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    padding: 0 1.5rem;
    cursor: pointer;
  }

  .search-form label:hover{
    color: var(--orange);
  }
  
  .search-form.active {
    right: 2rem;
    transition: 0.5s ;
  }
  .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
  }
  
  .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
  }

  #menu-btn{
    display: none;
    
  }

  .shopping-cart{
    position: absolute;
    top: 100px; right: 2rem;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;
  }

  .shopping-cart .Box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
  }

  .shopping-cart .Box .content h3{
      color: var(--black);
      font-size: 1.7rem;
      padding-bottom: 1rem;
  }

  .shopping-cart .Box .content span{
    color: var(--light-color);
    font-size: 1.6rem;
  }


  .shopping-cart .Box .content .quantity{
    padding-left: 1rem;
  }

  .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
  }


  .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem;
  }


  /*  midia queries */

  @media (max-width:991px){
    .main{
      font-size: 55%;
    }

    .header{
      padding: 2rem;
    }
  }



  @media (max-width:768px){

      #menu-btn{
        display: inline-block;
      }


      .header .navbar{
        position: absolute;
        top: 100px; right: 2rem;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 35rem;
        background: #fff;
      }

      .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
      }

      .header .navbar .active{
        right: 2rem;
        transition: .4s linear;
      }
  }


  @media (max-width:450px){
    .main{
      font-size: 50%;
    }
  }

